input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=url],
input[type=number],
input[type=date]
input[type=time],
textarea {
    width: 100%;
    padding: 0.25em;
}

/* detailed form stuff */
.panel .buttons,
.inline .buttons {
    text-align: right;
}

.buttons input[type=submit].danger {
    float: left;
}

.panel legend,
.inline legend,
.inline-add legend {
    display: none;
}

.panel {
    padding: 0.5em 1em;
    position: relative;
}

.panel .row {
    position: relative;
    margin-bottom: 1em;
}

.panel .row.nomargins {
    margin: 0;
}

.panel .row.last {
    margin-bottom: 0;
}

.panel .container,
.panel .item {
    position: relative;
}

.tabs {
    position: relative;
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
    height: 29px;
}

ul.tab-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.tab-navigation li {
    float: none;
    display: inline-block;
}

ul.tab-navigation a {
    background-color: white;
    text-decoration: none;
    border: 1px solid gray;
    color: inherit;
    padding: 1px 25px;
    display: inline-block;
    margin-top: -12px;
}

ul.tab-navigation a.selected {
    border-bottom: 1px solid white;
}

.panel label {
    float: left;
    width: 23.404255317%;
    padding-top: 0.444em;
    white-space: nowrap;
    text-align: right;
    font-weight: normal;
}

.panel p.info {
    margin-top: 0.25em;
    /*margin-left: 30%;*/
    margin-left: 25.404255317%;
    margin-bottom: 0;
    font-size: small;
    padding-left: 0.5em;
    color: gray;
}

.panel .tab p.info.above {
    margin-bottom: 1em;
}

th.label {
    width: 25.404255317%;
}

label.cb,
label.radio {
    text-align: left;
    width: auto;
    padding-left: 26.0%;
}

.panel input[type=text],
.panel input[type=password],
.panel input[type=email],
.panel input[type=url],
.panel input[type=number],
.panel input[type=date],
.panel input[type=time],
.panel input[type=datetime],
.panel input[type=tel],
.panel input[type=file],
.panel textarea,
.panel select {
    width: 74.468085099%;
    /*float: right;*/
    margin-left: 2%;
    padding: 0.222em;
}
.panel input[type=file],
.panel input[type=datetime] {
    width: auto;
}
.panel .row select {
    margin-top: 0.444em;
}
.page-add .row select {
    margin-top: 0;
}

select.filter-select {
    margin-top: 0.333em;
}

.panel input[type=number],
.panel input.number,
.panel select {
    width: auto;
}

select.cb {
    /*margin-left: 32%;*/
    margin-left: 27.666%;
}

.panel input.autowidth {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.detach,
.attach {
    width: 26px;
    height: 26px;/*1em font-size + 2 x 0.222em padding in input fields*/
    padding: 0;
    margin: 0;
    z-index: 1;
    background-image: url(/img/glyphicons/glyphicons_191_circle_minus.png);
    position: absolute;
    left: 6px;
    top: 50%;
    margin-top: -13px;
}

.ir.attach {
    background-image: url(/img/glyphicons/glyphicons_190_circle_plus.png);
    left: 36px;
    display: none;
}

fieldset.tab fieldset:last-child .attach {
    display: block;
}

.panel .row.nomargins label {
    text-align: left;
}

/* label in .tab will stretch */
.panel .tab [class*="span"] label,
.panel label.left {
    width: 100%;
    margin: 0;
    text-align: left;
}

/* input, textarea and select in a tab will stretch */
.panel .tab [class*="span"] input,
.panel .tab [class*="span"] textarea,
.panel .tab [class*="span"] select {
    width: 100%;
    margin-left: 0;
}

.panel .tab [class*="span"] input[type=checkbox] {
    position: static;
    left: auto;
    width: auto;
}

input[required=required] {
    font-weight: bold;
}

input[readonly=readonly] {
    padding-right: 20px;
    background: url(/img/glyphicons/glyphicons_203_lock.png) right center no-repeat;
    background-size: 16px 19px;
}
/*
.container input[type=text],
.container input[type=password],
.container input[type=email],
.container input[type=url],
.container input[type=number],
.container input[type=date],
.container input[type=time],
.container input[type=url],
.container input[type=tel],
.container textarea,
.container select {
    margin-left: 0;
    width: 100%;
    padding: 0.222em;
}
*/



input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=tel]:focus,
textarea:focus {
    background-color: #feffbc;
}

input[type=checkbox],
input[type=radio] {
    margin: 0 0.222em 0 2%;
    width: auto;
    padding: 0;
}
input[type=number],
input.number,
input.monetary {
    text-align: right;
}

.panel .row input[type=checkbox],
.panel .row input[type=radio] {
    position: absolute;
    /*left: 23.404255317%;*/
    left: 20.404255317%;
    /*left: 28%;*/
    top: 0.6em;
}

.panel .container {
    min-height: 34px;
}

.panel .container.autoheight {
    min-height: 0;
}

.panel .container input[type=checkbox],
.panel .container input[type=radio] {
    position: static;
    left: auto;
}

/* form table stuff */
.panel table {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 1em;
}

.panel table thead th {
    text-align: left;
}

.panel table thead th.switch,
.panel table thead th.edit {
    width: 24px;
    background-color: white;
}

/* adjust top if you want a higher main-menu */
.panel table caption {
    text-align: center;
    font-size: smaller;
    color: gray;
    padding: 0.5em 0 1em 0;
}

.panel th,
.panel td {
    text-align: left;
    font-size: 1em;
    padding: 0.222em 0.444em;
}

.panel th,
.panel td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel th.number,
.panel td.number {
    text-align: right;
}

.panel thead tr {
    background-color: gray;
}

.panel thead tr.filter {
    background-color: white;
    color: black;
}


.panel a.action.action-edit {
    display: block;
    width: 24px;
    height: 24px;
    background: url(/img/glyphicons/glyphicons_030_pencil.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.panel input[type=submit].filter-refresh {
    width: 24px;
    height: 24px;
    background-image: url(/img/glyphicons/glyphicons_320_filter.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 16px;
}
.panel input[type=submit].filter-clear {
    width: 24px;
    height: 24px;
    background-image: url(/img/glyphicons/glyphicons_192_circle_remove.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

input[type=submit].danger {
    color: red;
}

.panel tfoot tr {
    background-color: silver;
}

.panel thead th {
    color: white;
    white-space: nowrap;
    font-weight: normal;
    vertical-align: top;
}

.panel thead tr.filter th {
    color: inherit;
    padding: 0.25em;
}

.panel thead tr.filter input[type=text].filter {
    width: 100%;
    margin-left: 0;
}

.panel thead th.active {
    background-color: rgb(33, 33, 33);
}

.panel thead th.order a {
    display: block;
    color: white;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel thead th.order.dir-ASC a {
    padding-right: 1em;
    background-image: url(/img/asc.png);
}

.panel thead th.order.dir-DESC a {
    padding-right: 1em;
    background-image: url(/img/desc.png);
}

.panel tbody tr:nth-child(odd) {
    background-color: rgb(243, 246, 250);
}
